<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/main.css}"/>
</head>
<body>
<div class="menuContainer">
  <ul class="menu">
   <li><a href="/main">🌿 Main</a></li>
    <li><a href="#">🌿 Products</a></li>
    <li><a href="/settings">⚙️ Settings</a></li>
    <li>
        <a th:field="*{loggedUsername}">
            <span>🧩</span>
            <span th:text="'Welcome, ' + *{loggedUsername}"></span>
        </a>
    </li>

  </ul>
</div>
<div class="container">
<div class = "wrapTexts">
<h1 class = "H1">Assembler Panel</h1>
    <div class = "adminContainer">
   <form method = "post" th:action = "@{'/settings' + '/assembler/product'}" class = "adminForm">
        <label for = "productId">
          Id
        </label>

       <input type = "text" class = "input-field" id = "productId" name="productId" required><br><br>

       <label for = "productState">
            Status
       </label>

       <select class = "select-field" id = "productState" name = "productState">
           <option value="Pending">Pending</option>
           <option value="Available">Available</option>
           <option value="Not Available">Not available</option>
       </select>

        <br>
       <br>
       <input type="submit" value="🌲 Change state", class = "form-button">


       <p th:if="${failure}" th:text="${failure}" class="error"></p>
       <p th:if="${success}" th:text="${success}" class="error"></p>
   </form>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${productList}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.state}"></td>
            </tr>
        </tbody>
    </table>

</div>
</div>
</body>
</html>