<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operator Page</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/main.css}"/>
</head>
<body>
<div class="menuContainer">
    <ul class="menu">
        <li><a href="/main">🌿 Main</a></li>
        <li><a href="#">🌿 Products</a></li>
        <li><a href="/settings">⚙️ Settings</a></li>
        <li>
            <a th:field="*{loggedUsername}">
                <span>🧩</span>
                <span th:text="'Welcome, ' + *{loggedUsername}"></span>
            </a>
        </li>

    </ul>
</div>
<div class="container">
    <div class = "wrapTexts">
        <h1 class = "H1">Courier Panel</h1>
        <div class = "adminContainer">
            <p th:if="${failure}" th:text="'❌' + ${failure}" class="error"></p>
            <p th:if="${success}" th:text="'✔️' + ${success}" class="error"></p>

            <h1 class="H2" th:if="${orderList.isEmpty()}">
                No active orders.
            </h1>

            <table th:if="${not orderList.isEmpty()}">
                <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Cost</th>
                    <th>Customer</th>
                    <th>Phone</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orderList}">
                    <td>
            <span th:switch="${order.status}">
                <span th:case="'Completed'">&#x2705;</span>
                <span th:case="'Checking'">&#x23F3;</span>
                <span th:case="'Ordering'">&#x23F3;</span>
                <span th:case="'Canceled'">&#x274C;</span>
            </span>
                        <span th:text="${order.id}"></span>
                    </td>
                    <td th:text="${order.cost}"></td>
                    <td th:text="${userService.getById(order.userId)}"></td>
                    <td th:text="${order.phoneNumber}"></td>
                    <td th:text="${order.status}"></td>

                    <td>
                        <form th:action="@{'/settings/courier/manage/' + ${order.id}}" method="POST">
                            <button type="submit" class="basket-button">Manage</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>