<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/main.css}" href = "main.css"/>
</head>
<body>
<div class="menuContainer">
  <ul class="menu">
   <li><a href="/main">🌿 Main</a></li>
    <li><a href="/catalog">🌿 Products</a></li>
    <li>
        <a th:if="${loggedUsername != 'anonymousUser'}" href="/settings">⚙️ Settings
        </a>
    </li>
    <li>
        <a th:if="${loggedUsername != 'anonymousUser'}" th:field="*{loggedUsername}">
            <span>🧩</span>
            <span th:text="'Welcome, ' + ${loggedUsername}"></span>
        </a>
    </li>

  </ul>
</div>
<div class="container">
<div class = "wrapTexts">
    <div class = "productContainer">
        <p th:if="${failure}" th:text="'❌' + ${failure}" class="error"></p>
        <p th:if="${success}" th:text="'✔️' + ${success}" class="error"></p>

<h1 class = "H1" th:text="${currentProduct.title}"></h1>
        <h1 class = "H2" th:text = "${currentProduct.description}"></h1>
        <h1 class = "H2" th:text = "'$' + ${currentProduct.cost}"></h1>
        <h1 class = "H2" th:text = "${currentProduct.state}"></h1>


        <form th:action="@{'/catalog/' + ${productId}}" method="POST">
            <button th:if="${currentProduct.state == 'Available'}" type="submit" class="form-button">🛒 Add to basket</button>
            <button th:unless="${currentProduct.state == 'Available'}" type="button" class="form-button" disabled>🛒 Add to basket</button>
        </form>

</div>
</div>
</div>
</body>
</html>