<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/main.css}"/>
</head>
<body>

<div class="menuContainer">
    <ul class="menu">
        <li><a href="/">🌿 Main</a></li>
        <li><a href="/catalog">🌿 Products</a></li>
    </ul>
</div>

<div class = "container">
    <div class = "wrapTexts">
    <h1 class = "H1">☂️ 404</h1>
    <a href="/main" class="form-button">Back to 200</a>
    </div>


</div>


</body>
</html>
