<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/main.css}" />
</head>
<body>
<div class="menuContainer">
  <ul class="menu">
   <li><a href="/">🌿 Main</a></li>
    <li><a href="/catalog">🌿 Products</a></li>
    <li>
        <a th:if="${loggedUsername != null}" th:field="*{loggedUsername}" href = "/user">
            <span>🧩</span>
            <span th:text="'Welcome, ' + *{loggedUsername}"></span>
        </a>

        <a th:if="${loggedUsername == null}" href="/login">
            <span>🔑</span>
            <span>Login</span>
        </a>
    </li>
      <li>
          <a th:if="${loggedUsername == null}" href="/register">
              <span>🪐Register</span>
          </a>
      </li>
  </ul>
</div>
<div class = "container">
    <div class = "wrapTexts">
        <h1 class = "H1">🌵Coursework</h1>
        <h1 class = "H2">Experience top-quality
            construction materials
            that prioritize environmental safety.</h1>
        <h1 class = "H2">Our products offer exceptional quality while ensuring sustainability.</h1>
        <h1 class = "H2">* Premium materials selection</h1>
        <h1 class = "H2">* Eco-friendly solutions</h1>
        <h1 class = "H2">* Reliable delivery</h1>
        <h1 class = "H2">* Expert customer support</h1>
        <h1 class = "H2">* Exceptional quality</h1>

    </div>
</div>


</body>
</html>