<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/main.css}" />
</head>
<body>
<div class="menuContainer">
  <ul class="menu">
   <li><a href="/">🌿 Main</a></li>
    <li><a href="/catalog">🌿 Products</a></li>
    <li>
        <a th:if="${loggedUsername != null}" th:field="*{loggedUsername}" href = "/user">
            <span>🧩</span>
            <span th:text="'Welcome, ' + *{loggedUsername}"></span>
        </a>

        <a th:if="${loggedUsername == null}" href="/login">
            <span>🔑</span>
            <span>Login</span>
        </a>
    </li>
      <li>
          <a th:if="${loggedUsername == null}" href="/register">
              <span>🪐Register</span>
          </a>
      </li>
  </ul>
</div>
<div class = "container">
    <div class = "wrapTexts">
        <h1 class = "H1">Main page</h1>
        <h1 class = "H2">В этом примере мы используем встроенную функцию #lists.sort, которая выполняет сортировку списка products по атрибуту price. Мы передаем отсортированный список в th:each для итерации и отображения каждого элемента в таблице.

            Обратите внимание, что в этом примере предполагается, что вы передаете список products в представление с помощью контроллера.</h1>
    </div>
</div>


</body>
</html>