<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/main.css}" />
</head>
<body>
<div class="menuContainer">
  <ul class="menu">
   <li><a href="/">🌿 Main</a></li>
    <li><a href="/settings">🌿 Settings</a></li>
    <li><a href="#">🌿 Info</a></li>
    <li>
        <a th:if="${loggedUsername != null}" th:field="*{loggedUsername}" href = "/user">
            <span>🧩</span>
            <span th:text="*{loggedUsername}"></span>
        </a>


    </li>
  </ul>
</div>
<div class = "container">
<div class = "wrapTexts">

</div>
    <h1 class = "H1">Password change</h1>
    <div class = "registerContainer">
    <form method="post" class = "register-form" th:action = "@{/settings/password}">
        <div>
            <label for = "oldPassword">
                🌿 Old password:
            </label>
            <input type = "text" class = "input-field" name = "oldPassword" id = "oldPassword" required><br><br>
        </div>
        <div>
            <label for = "newPassword">
                🌿 New Password:
            </label>
            <input type = "text" class = "input-field" name = "newPassword" id = "newPassword" required><br><br>
        </div>

        <div>
            <input type="submit" value="🌲 Change", class = "form-button">
        </div>

        <p th:if="${failurePassword}" th:text="${failurePassword}" class="error"></p>
        <p th:if="${successPassword}" th:text="${successPassword}" class="error"></p>

    </form>

</div>
</div>
</body>
</html>