<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐵 Profile</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/main.css}" href = "main.css"/>
</head>
<body>
<div class="menuContainer">
  <ul class="menu">
   <li><a href="/main">🌿 Main</a></li>
    <li><a href="/catalog">🌿 Products</a></li>
    <li><a href="/settings">⚙️ Settings</a></li>
    <li>
        <a th:field="*{loggedUsername}">
            <span>🧩</span>
            <span th:text="'Welcome, ' + *{loggedUsername}"></span>
        </a>
    </li>
    <li><a href="/logout">🚪 Logout</a></li>
  </ul>
</div>
<div class="container">
<div class = "wrapTexts">
<h1 class = "H1">🐵 Profile</h1>

    <h1 class = "H2" th:text = "${loggedEmail}">
        Email here
    </h1>

    <a href="/basket" class = "settingsA">

        <h1 class="H2">basket</h1>
    </a>
    <a href="/history" class = "settingsA">

        <h1 class="H2">purchase history</h1>
    </a>

</div>
</div>
</body>
</html>