<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel ="stylesheet" type = "text/css" media = "screen" th:href = "@{/css/main.css}" href = "main.css"/>
</head>
<body>
<div class="menuContainer">
  <ul class="menu">
   <li><a href="/main">🌿 Main</a></li>
    <li><a href="#">🌿 Goods</a></li>
    <li><a href="/settings">⚙️ Settings</a></li>
    <li>
        <a th:field="*{loggedUsername}">
            <span>🧩</span>
            <span th:text="'Welcome, ' + *{loggedUsername}"></span>
        </a>
    </li>
    <li><a href="/logout">🚪 Logout</a></li>
  </ul>
</div>
<div class="container">
<div class = "wrapTexts">
<h1 class = "H1">User Page</h1>
    <h1 class = "H2" th:text = "${loggedUsername}">
        Info or your account
    </h1>
    <h1 class = "H2" th:text = "${loggedEmail}">
        Email here
    </h1>

</div>
</div>
</body>
</html>